! ------------------------------------------------------------------------------
!  nl.rc
!  This file is part of Unifix BWidget Toolkit
!  Definition of Dutch resources
! ------------------------------------------------------------------------------


! --- symbolic names of buttons ------------------------------------------------

*abortName:   Af&breken
*retryName:   Opnie&uw proberen
*ignoreName:  N&egeren
*okName:      &OK
*cancelName:  &Annuleren
*yesName:     &Ja
*noName:      &Nee


! --- symbolic names of label of SelectFont dialog ----------------------------

*boldName:          Vet
*italicName:        Cursief
*underlineName:     Onderstrepen
*overstrikeName:    Doorhalen
*fontName:          &Lettertype
*sizeName:          &Grootte
*styleName:         &Stijl
*colorPickerName:   &Kleur...


! --- symbolic names of label of PasswdDlg dialog -----------------------------

*loginName:    &Inlognaam
*passwordName: &Wachtwoord


! --- resource for SelectFont dialog ------------------------------------------

*SelectFont.title:	    Lettertypeselectie
*SelectFont.sampletext:	    Voorbeeldtekst


! --- resource for MessageDlg dialog ------------------------------------------

*MessageDlg.noneTitle:      Bericht
*MessageDlg.infoTitle:      Informatie
*MessageDlg.questionTitle:  Vraag
*MessageDlg.warningTitle:   Waarschuwing
*MessageDlg.errorTitle:     Fout

! --- resource for PasswdDlg dialog -------------------------------------------

*PasswdDlg.title:  Voer inlognaam en wachtwoord in

! --- symbolic names of label of SelectColor dialog ----------------------------

*baseColorsName: Basiskleuren
*userColorsName: Aangepaste kleuren

*yourSelectionName: Uw selectie
*colorSelectorsName: Selecteren kleuren

! --- dynamic help text for SelectColor dialog.  Lines 75 chars max, split by '\n'.

*mouseHelpTextName: Klik of sleep de muis in de kleurselectors om een kleur te kiezen.\nAls de geselecteerde kleur zwart blijft, ongeacht wat je doet in het\nlinkerdeel (tint en verzadiging), controleer de positie van de muispointer\nin het rechterdeel (helderheid).\n\nKlik op een van de basiskleuren om een waarde uit dit palet te lezen.\n\nKlik op een van de basiskleuren om een waarde uit dit palet te lezen of\nom een nieuwe waarde in te voeren als het vakje leeg is. Als je dan de\nkleurselectors gebruikt om de kleur te wijzigen, dan wordt die nieuwe\nkeuze naar het aanpasbare kleurvakje geschreven tot je een andere\nbasiskleur of aanpasbare kleur kiest. 

*keyboardHelpTextName: Klik in het invoerveld links van het deel "Uw selectie".\nTyp de gewenste kleur in volgens het hexadecimale RGB-format.\nDe kleurwaarde is acceptabel als het aantal hexadecimale cijfers een\nveelvoud is van 3. De waarde wordt gekopieerd naar andere delen van de\nkleurselector.\n\nVerlaat het invoerveld door ergens anders te klikken of via "Escape" of\n"Return". Het invoerveld toont dan de kleur in 24-bits RGB-format\n(overigens wordt intern een 48-bits RGB-format gebruikt).\n\nAls het invoerveld niet de focus heeft (geen tekstcursor vertoont), dan\nwerken de "Return"- en "Escape"-toetsen net als de "OK"- en\n"Cancel"-buttons.
